<html>
    <head>
        <title>
            Jusang's blog
        </title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>
        
        <div>
            <p>published: 18.02.2018</p>
            <h2><a href="">첫번째 포스트</a></h2>
            <p>첫번째 포스트 내용이ㅣㅂ니다.</p>
        </div>

        <div>
            <p>published: 18.02.2018</p>
            <h2><a href="">두번째 포스트</a></h2>
            <p>두번째 포스트 내용입니다.</p>
        </div>
    </body>
</html>